.emptyTasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4rem 0;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.emptyTasks h2 {
    font-weight: bold;
    font-size: 1rem;
    color: var(--gray-300);
    margin-top: 1rem;
}

.emptyTasks p {
    font-weight: 400;
    font-size: 1rem;
}